body {
    font-family: sans-serif;
    box-sizing: border-box;
}

table {
    width: 100%;
}

thead tr {
    background-color: #333;
    color: #fff;
}

thead th {
    padding: .25em;
}

tbody tr:hover {
    background-color: #eee;
}

img {
    width: 100%;
}

img.avatar {
    border-radius: 50%;
}

.name {
    font-size: 1.25rem;
    font-weight: 600;
}

.btn {
    display: inline-block;
    background-color: hsl(210, 100%, 45%);
    color: white;
    font-size: 1rem;
    font-weight: 400;
    padding: .35rem 1rem;
    border-radius: .2rem;
}

.btn:hover {
    box-shadow: 2px 2px 4px #777;
    border: 1px solid #222;
}

a.btn {
    text-decoration: none;
}

.btn.btn-danger {
    background-color: hsl(355, 100%, 45%);
}

.btn.btn-success {
    background-color: hsl(105, 100%, 30%);
}

.btn.btn-secondary {
    background-color: hsl(0, 0%, 45%);
}

.btn + .btn {
    margin-left: .5em;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.container {
    padding: 1em;
}

.card {
    border: 1px solid #333333;
    box-shadow: 2px 2px 4px #777777;
    margin: 1em auto;
}

.buttons {
    text-align: center;
    background-color: #eee;
    padding: .5em 1em;
}

h1, h2, h3 {
    text-align: center;
    margin: .1em 0;
    overflow-x: hidden;
}

label {
    display: block;
    font-weight: 600;
    font-variant: small-caps;
    text-transform: capitalize;
}

label + label {
    margin-top: 1em;
}

label + .buttons {
    margin-top: 2em;
}

label input {
    display: block;
    width: 95%;
    padding: .25em .5em;
    border-radius: .2em;
}

nav {
    background-color: hsl(210, 100%, 30%);
    color: #fff;
    display: block;
    padding: 1em;
}

nav .brand {
    font-weight: 600;
}

.float-right {
    float: right;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    color: darkorange;
}

.error {
    color: orangered;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}