<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>Simple Spring Web Security App</title>
</head>
<body>
    {{> navbar}}

    <h1>Protected Page</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi blanditiis cum doloribus ea eligendi est eveniet
        exercitationem expedita fuga, harum, impedit inventore ipsum iusto laborum minus natus necessitatibus non
        officia omnis quaerat quia recusandae reiciendis sit soluta unde veniam vero voluptatibus. Ab animi aperiam
        aspernatur commodi dignissimos enim esse inventore quas quia recusandae similique tempore temporibus tenetur
        unde, voluptates. Architecto doloribus dolorum earum eius. Adipisci laudantium maxime temporibus voluptas
        voluptates! Alias aliquid atque autem beatae, dolore, dolorem doloribus eligendi et harum illum ipsam iure
        libero magni maxime minus natus neque odit quam quas ratione sequi soluta temporibus totam veniam voluptatibus.
    </p>

    <p>
        <a href="/auth/logout" class="btn btn-danger">
            LOGOUT
        </a>
    </p>

</body>
</html>
