<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>Show</title>
</head>
<body>
    {{> navbar}}

    {{#person}}
        <form method="post" action="/save/{{id}}">
            <div class="container">
                <h1>Person ID: {{id}}</h1>
                <div class="card" style="width: 30em;">
                    <div class="center">
                        <img src="{{avatar}}" class="avatar" style="width: 15em;">
                    </div>
                    <div style="padding: 1em;">
                        <label for="name">name
                            <input type="text" id="name" name="name" value="{{name}}" placeholder="Full Name">
                        </label>
                        <label for="email">email
                            <input type="email" id="email" name="email" value="{{email}}" placeholder="Email Address">
                        </label>
                        <label for="company">company
                            <input type="text" id="company" name="company" value="{{company}}" placeholder="Company Name">
                        </label>
                        <label for="age">age
                            <input type="number" id="age" name="age" value="{{age}}" placeholder="Age" min="20"
                                   max="85">
                        </label>
                    </div>

                    <div class="buttons">
                        <button type="submit" class="btn btn-success">
                            Save
                        </button>
                        <a href="/show/{{id}}" class="btn btn-secondary">
                            Cancel
                        </a>
                    </div>
                </div>
            </div>
        </form>
    {{/person}}
</body>
</html>
