<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>Show</title>
</head>
<body>
    {{> navbar}}

    {{#person}}
        <div class="container">
            <h1>Person ID: {{id}}</h1>
            <div class="card" style="width: 25em;">
                <img src="{{avatar}}">
                <h1>{{name}}</h1>
                <h2>{{email}}</h2>
                <h3>{{company}}</h3>
                <p class="center">
                    Age {{age}}
                </p>

                <div class="buttons">
                    <a href="/list" class="btn btn-secondary">
                        Cancel
                    </a>
                    <a href="/edit/{{id}}" class="btn">
                        Edit
                    </a>
                    <a href="/remove/{{id}}" class="btn btn-danger">
                        Remove
                    </a>
                </div>
            </div>
        </div>
    {{/person}}
</body>
</html>
